/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Arbutus Slab";
  font-style: normal;
  font-weight: 400;
  src: url("oY1Z8e7OuLXkJGbXtr5ba7ZlYqUcFlY.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Arbutus Slab";
  font-style: normal;
  font-weight: 400;
  src: url("oY1Z8e7OuLXkJGbXtr5ba7ZlbKUc.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
