/* Code tidied up by ScrapBook */
@media not all, not all, (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
}
@media screen and (max-width: 1024px) {
}
@keyframes clockwise {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes clockwise {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes donut-rotate {
0% { transform: rotate(0deg); }
50% { transform: rotate(-140deg); }
100% { transform: rotate(0deg); }
}
@keyframes donut-rotate {
0% { transform: rotate(0deg); }
50% { transform: rotate(-140deg); }
100% { transform: rotate(0deg); }
}
