/* Code tidied up by ScrapBook */
body::after { content: url("close.png") url("loading.gif") url("prev.png") url("next.png"); display: none; }
.lightboxOverlay { position: absolute; top: 0px; left: 0px; z-index: 9999; background-color: black; opacity: 0.8; display: none; }
.lightbox { position: absolute; left: 0px; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }
.lightbox .lb-image { display: block; height: auto; max-width: inherit; border-radius: 3px; }
.lb-outerContainer { position: relative; background-color: white; width: 250px; height: 250px; margin: 0px auto; border-radius: 4px; }
.lb-outerContainer::after { content: ""; display: table; clear: both; }
.lb-container { padding: 4px; }
.lb-loader { position: absolute; top: 43%; left: 0px; height: 25%; width: 100%; text-align: center; line-height: 0; }
.lb-cancel { display: block; width: 32px; height: 32px; margin: 0px auto; background: transparent url("loading.gif") no-repeat scroll 0% 0%; }
.lb-nav { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 10; }
.lb-nav a { outline: medium none; background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }
.lb-prev, .lb-next { height: 100%; cursor: pointer; display: block; }
.lb-nav a.lb-prev { width: 34%; left: 0px; float: left; background: transparent url("prev.png") no-repeat scroll left 48%; opacity: 0; transition: opacity 0.6s ease 0s; }
.lb-nav a.lb-prev:hover { opacity: 1; }
.lb-nav a.lb-next { width: 64%; right: 0px; float: right; background: transparent url("next.png") no-repeat scroll right 48%; opacity: 0; transition: opacity 0.6s ease 0s; }
.lb-nav a.lb-next:hover { opacity: 1; }
.lb-dataContainer { margin: 0px auto; padding-top: 5px; width: 100%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.lb-dataContainer::after { content: ""; display: table; clear: both; }
.lb-data { padding: 0px 4px; color: rgb(204, 204, 204); }
.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }
.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }
.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: rgb(153, 153, 153); }
.lb-data .lb-close { display: block; float: right; width: 30px; height: 30px; background: transparent url("close.png") no-repeat scroll right top; text-align: right; outline: medium none; opacity: 0.7; transition: opacity 0.2s ease 0s; }
.lb-data .lb-close:hover { cursor: pointer; opacity: 1; }
