/* Code tidied up by ScrapBook */
html, body { font-family: "Open Sans",sans-serif; }
@media (max-width: 991px) {
  html, body { overflow-x: hidden; }
}
h1, h2, h3, h4, h5, h6 { margin: inherit; }
.clear { clear: both; }
img { max-width: 100%; height: auto; }
.scrollTop { width: 50px; height: 50px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 100%; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7); position: fixed; right: 20px; opacity: 0.5; transition: opacity 0.3s ease 0s, bottom 0.7s ease 0s; bottom: -100px; }
@media (max-width: 992px) {
  .scrollTop { right: 10px; }
}
.scrollTop:hover { opacity: 1; }
.scrollTop::before { content: ""; display: block; border-top: 3px solid rgb(0, 146, 63); width: 11px; height: 11px; transform: rotate(-45deg); top: 0px; right: 0px; left: 0px; bottom: 0px; position: absolute; margin: auto; }
.scrollTop::after { content: ""; display: block; border-top: 3px solid rgb(0, 146, 63); width: 11px; height: 11px; transform: rotate(45deg); top: 0px; right: 0px; left: 0px; bottom: 0px; position: absolute; margin: auto; }
.preloader { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; height: 100%; width: 100%; background: rgb(0, 146, 63) none repeat scroll 0% 0%; z-index: 10000; display: flex; justify-content: center; align-items: center; transition: opacity 0.3s ease 0s; opacity: 0.7; }
.preloader__content { animation: 1s cubic-bezier(0.1, 0.8, 0.8, 0.1) 0s normal none infinite running rotate; }
.preloader__dot { width: 20px; height: 20px; border-radius: 100%; border: 3px solid rgb(255, 255, 255); display: inline-block; margin: 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; transition: transform 1s ease 0s; animation: 1s ease 0s normal none infinite running show-hide; }
.preloader__dot:nth-child(2) { animation-delay: 300ms; }
.preloader__dot:nth-child(3) { animation-delay: 600ms; }
@keyframes show-hide {
0% { transform: scale(0); }
50% { transform: scale(1); }
100% { transform: scale(0); }
}
@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
#preloader.preloader-hidden { display: none; }
.sect { padding: 50px 0px; }
h1, h2, h3, h4, h6, h6 { font-family: "Arbutus Slab"; }
h1, h2 { font-size: 50px; color: rgb(0, 146, 63); margin-bottom: 50px; text-transform: uppercase; }
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
.btop { position: relative; }
@media (max-width: 766px) {
}
@media (max-width: 991px) {
}
@media (max-width: 766px) {
}
@media (max-width: 991px) {
}
@media (max-width: 766px) {
}
@media (max-width: 991px) {
}
@media (max-width: 766px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 766px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1199px) {
}
.menu2 { display: block; z-index: 100; width: 100%; top: 0px; padding: 12px 0px 16px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
@media (min-width: 992px) {
  .menu2 { display: none; }
}
.menu { background: transparent none repeat scroll 0% 0%; width: 100%; padding: 12px 0px 16px; position: fixed; top: 0px; z-index: 100; }
.menu__btn { background: rgb(0, 146, 63) none repeat scroll 0% 0%; padding: 5px 6px 12px 25px; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 16px; line-height: 20px; width: 242px; box-shadow: 10px 10px 0px 0px rgb(193, 193, 193); }
@media (max-width: 1199px) {
  .menu__btn { padding: 5px 6px 12px 5px; text-transform: uppercase; font-size: 11px; line-height: 16px; width: 160px; }
}
.menu__btn__lock { font-size: 33px; }
@media (max-width: 992px) {
  .menu__btn__lock { font-size: 15px; }
}
@media (max-width: 992px) {
  .menu { width: 100%; height: 100%; z-index: 999; background: white none repeat scroll 0% 0%; display: none; overflow-y: auto; }
}
.menu__ul { list-style-type: none; padding: 0px; }
@media (max-width: 992px) {
  .menu__ul { margin: 5% 0px; }
}
@media (max-device-width: 992px) and (orientation: landscape) {
  .menu__ul { margin: 5% 0px; }
}
@media (max-width: 992px) {
  .menu__btncol { margin-left: 15px; text-align: center; }
}
.menu__li { float: left; margin-right: 3%; padding-bottom: 10px; }
@media (max-width: 1199px) {
  .menu__li { margin-right: 2%; }
}
@media (max-width: 992px) {
  .menu__li { margin-right: 0px; margin-bottom: 5px; float: none; text-align: center; }
}
.menu__li:last-child { margin-right: 0px; }
.menu__li.active > .menu__link { color: rgb(0, 146, 63); }
.menu__li-dropdown { position: relative; }
@media (min-width: 993px) {
  .menu__li-dropdown:hover .menu__dropdown { visibility: visible; opacity: 1; transform: scaleY(1); }
}
.menu__li-dropdown .menu__li { padding: 0px; }
.menu__link { display: block; text-transform: uppercase; color: rgb(33, 33, 33); font-size: 15px; }
@media (max-width: 1199px) {
  .menu__link { font-size: 15px; }
}
@media (max-width: 992px) {
  .menu__link { font-size: 18px; }
}
@media (max-width: 767px) {
  .menu__link { font-size: 18px; }
}
.menu__link:hover, .menu__link:focus { color: rgb(0, 146, 63); }
@media (max-width: 992px) {
  .menu__link:hover, .menu__link:focus { color: rgb(0, 146, 63); }
}
.menu__link:hover { text-decoration: underline; }
.menu__dropdown { position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: -10px; width: 230px; top: 30px; box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); visibility: hidden; opacity: 0; text-align: left; transform: scaleY(0); transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, visibility 0.3s ease 0s; }
@media (max-width: 992px) {
  .menu__dropdown { position: static; width: 100%; margin: 10px 0px 0px; background: transparent none repeat scroll 0% 0%; box-shadow: none; visibility: visible; transform: scaleY(1); display: none; opacity: 1; }
}
.menu__dropdown .menu__li { float: none; margin: 0px; }
.menu__dropdown .menu__link { padding: 10px; display: block; }
@media (max-width: 992px) {
  .menu__dropdown .menu__link { font-size: 16px; }
}
.menuButton { position: fixed; z-index: 9999; top: 20px; right: 10px; width: 50px; height: 50px; border-radius: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; padding-top: 15px; transition: transform 0.7s ease 0s, box-shadow 0.3s ease 0s; }
@media (max-width: 992px) {
  .menuButton { display: block; }
}
@media (max-width: 767px) {
  .menuButton { top: 20px; }
}
.menuButton__span { display: block; width: 35px; margin: 0px auto 4px; height: 4px; background: rgb(39, 51, 67) none repeat scroll 0% 0%; transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, top 0.3s ease 0s; position: relative; }
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) and (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
.footer { background: rgb(21, 34, 19) none repeat scroll 0% 0%; padding: 30px 0px 50px; }
@media (max-width: 1199px) {
  .footer__content { padding: 70px 0px 40px; }
}
@media (max-width: 767px) {
  .footer__content { padding-top: 40px; }
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
.footer__link { display: inline-block; text-transform: uppercase; color: rgb(255, 255, 255); font-size: 12px; margin-right: 47px; }
@media (max-width: 767px) {
  .footer__link { display: block; margin: 10px 0px; }
}
.footer__link:hover, .footer__link:focus { color: rgb(255, 255, 255); text-decoration: underline; }
.footerMenu { list-style-type: none; padding: 0px; margin-top: 0px; display: flex; flex-wrap: wrap; }
@media (max-width: 1199px) {
  .footerMenu { margin-top: 0px; }
}
@media (max-width: 992px) {
  .footerMenu { display: block; }
}
.footerMenu__li { margin-right: 3%; margin-bottom: 10px; }
@media (max-width: 1199px) {
  .footerMenu__li { margin-right: 2%; }
}
@media (max-width: 992px) {
  .footerMenu__li { margin-bottom: 20px; }
}
.footerMenu__li:last-child { margin-right: 0px; }
.footerMenu__link { text-transform: uppercase; color: rgb(255, 255, 255); font-size: 13px; }
@media (max-width: 1199px) {
  .footerMenu__link { font-size: 13px; }
}
.footerMenu__link:hover, .footerMenu__link:focus { color: rgb(255, 255, 255); }
.footerMenu__dropdown { padding: 0px; }
@media (max-width: 992px) {
  .footerMenu__dropdown { padding-left: 15px; }
}
.footerMenu__dropdown .footerMenu__li { padding: 5px 0px; float: none; margin: 0px; }
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
.page { padding: 105px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow-x: hidden; }
@media (max-width: 1199px) {
  .page { padding: 70px 0px 40px; }
}
@media (max-width: 992px) {
}
.page__description { font-size: 20px; color: rgb(136, 155, 162); text-align: center; font-weight: bold; line-height: 160%; max-width: 577px; margin: 26px auto 40px; }
@media (max-width: 992px) {
  .page__description { font-size: 18px; }
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@keyframes loading-animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@media (max-width: 1199px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1399px) {
}
@media (max-device-width: 1399px) and (orientation: landscape) {
}
@media (max-width: 1199px) {
}
@media (max-device-width: 1199px) and (orientation: landscape) {
}
@media (max-width: 992px) {
}
@media (max-device-width: 992px) and (orientation: landscape) {
}
@media (max-width: 767px) {
}
@media (max-device-width: 767px) and (orientation: landscape) {
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.components__text { color: rgb(102, 102, 102); font-size: 16px; line-height: 165%; }
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
